<section class="hero is-link">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">
                Build Your Home Restoration Budget! 
            </h1>
        </div>
	</div>
</section>

<h3> <%= link_to 'Log In', '/login' %> OR <%= link_to 'Sign Up', '/signup' %>