
<p>
  <b>Project:</b>
  <%= @task.project.name %>
</p>

<p>
  <b>Item:</b>
  <%= @task.item %>
</p>

<p>
  <b>Price:</b>
  $<%= @task.price %>
</p>




<%= link_to 'Back', project_tasks_path(@task.project) %>