<h1>Welcome <%= current_user.username %>!</h1>

 <% if current_user.tasks.present? %>
    <h4>Here are your tasks</h4>
    <br>

</div>
  

  <% else %> 
    <p>You have made no tasks yet...</p>
<% end %>